flows.json
[{"id":"16f764e6.95fe6b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9be55ee5.41fef","type":"subflow","name":"Subflow 1","info":"","in":[{"x":60,"y":80,"wires":[{"id":"79c8bfd.f3d864"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"79c8bfd.f3d864","port":0}]}]},{"id":"73373598.87236c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1c2021","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"IOT","default":"#4B7930","baseColor":"#11117a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#2c2c30","value":"#11117a","edited":true},"page-titlebar-backgroundColor":{"value":"#11117a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#1a1abd","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#3837c1","edited":true},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7ad91da6.df0f44","type":"ui_tab","z":"","name":"DASHBOARD","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"69b64644.d52ae8","type":"ui_group","z":"","name":"Panel","tab":"7ad91da6.df0f44","order":1,"disp":true,"width":"5","collapse":false},{"id":"64e611c1.4f193","type":"ui_group","z":"","name":"Speed","tab":"7ad91da6.df0f44","order":3,"disp":true,"width":"6","collapse":true},{"id":"db11fc67.918a4","type":"ui_group","z":"16f764e6.95fe6b","name":"Zone","tab":"7ad91da6.df0f44","order":4,"disp":true,"width":"6","collapse":true},{"id":"4da394d.112406c","type":"ui_spacer","name":"spacer","group":"64e611c1.4f193","order":3,"width":1,"height":1},{"id":"d5920b3a.62c108","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.117","port":"12798","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"IoT","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"54e13de8.95d714","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.206","port":"1883","clientid":"IOT","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"288f4ab1.33eff6","type":"mqtt-broker","z":"","name":"","broker":"m16.cloudmqtt.com","port":"12266","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8998299e.5427a8","type":"ui_group","z":"","name":"Light","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"27513045.915ac","type":"ui_group","z":"","name":"Fan","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9bb07f32.01961","type":"ui_spacer","name":"spacer","group":"8998299e.5427a8","order":1,"width":1,"height":1},{"id":"4f99420f.cb940c","type":"firebase config","z":"","firebaseurl":"iotproject-7b96e","loginType":"none"},{"id":"6c2d8853.eb2908","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7b53fea6.59312","type":"ttn app","z":"","appId":"49306832751000","accessKey":"ttn-account-v2.JAgl_cFNEJHxIZTh1WiFeyyMA6o9e5lraUfyPx3S0PY","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"90e917f3.47aa28","type":"ui_spacer","name":"spacer","group":"2b0c89b7.387956","order":1,"width":1,"height":1},{"id":"2fae5a21.5a15d6","type":"ui_group","z":"","name":"Temperature","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"312f690b.dac766","type":"ui_spacer","name":"spacer","group":"9ddc656d.408d18","order":2,"width":1,"height":1},{"id":"9ddc656d.408d18","type":"ui_group","z":"","name":"Chart","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"5e0c5fc6.720e3","type":"ui_spacer","name":"spacer","group":"9ddc656d.408d18","order":1,"width":1,"height":1},{"id":"f6766857.4bb4d8","type":"ui_spacer","name":"spacer","group":"2fae5a21.5a15d6","order":1,"width":1,"height":1},{"id":"a34954b0.51dd88","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"489c5533.0fe64c","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5d8dae2.047168","type":"yad-configuration","z":"","name":""},{"id":"347b7a77.0ff486","type":"remote-config","z":"","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"0qnt53uau4il9dom8m9ommq6fd4csa5ib8rasyazx04kayreiz5gpjgvhde7lmz5","server":"nodered03.remote-red.com","region":"us"},{"id":"7c4659ff.a843e8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"e833bec6.41807","type":"AnamicoAlarmPanel","z":"","name":"d"},{"id":"ffc95cc7.2dc86","type":"ui_group","z":"","name":"ui_control","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"814da5a4.473078","type":"ui_group","z":"","name":"test2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7d190f9.08f29f","type":"ui_group","z":"","name":"Temperatuur Node","tab":"","order":1,"disp":true,"width":"12"},{"id":"348e0f4f.bb244","type":"ui_group","z":"","name":"test2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"93116252.2545f","type":"ui_group","z":"","name":"test1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ade9d3b.4868f2","type":"ui_group","z":"","name":"test3","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c0b390d3.37c31","type":"ui_group","z":"","name":"test4","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"ca04b75d.d9c938","type":"ui_group","z":"","name":"Zone","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"d84d09b1.ebccb8","type":"ui_group","z":"","name":"Control with buttons","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a934eea4.d7621","type":"ui_group","z":"","name":"Switch test","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"963fe5ce.f634a8","type":"ui_group","z":"","name":"Graph testing","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a39d2b39.88e2b8","type":"ui_group","z":"","name":"Furnace room","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"9ba9f75c.7a9ca8","type":"ui_group","z":"","name":"Pressure threshold","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"301a3516.6a3f8a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"9757f596.673128","type":"ui_group","z":"","name":"Control with buttons","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f04a730b.22a31","type":"ui_group","z":"","name":"Switch test","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6d588215.1d15ec","type":"ui_group","z":"","name":"Graph testing","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"367c4d57.a76962","type":"ui_group","z":"","name":"Furnace room","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"a65a59fb.571be8","type":"ui_group","z":"","name":"Pressure threshold","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"29cb35e1.3df18a","type":"ui_group","z":"","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"2eb7de9f.0ec362","type":"ui_group","z":"","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"bebe72f9.1382c","type":"ui_group","z":"","name":"test10","tab":"","order":11,"disp":true,"width":"10","collapse":false},{"id":"4a3d493b.72f268","type":"ui_group","z":"","name":"test12","tab":"","order":13,"disp":true,"width":"8","collapse":false},{"id":"5549cced.fd5d34","type":"ui_group","z":"","name":"test13","tab":"","order":14,"disp":true,"width":"8","collapse":false},{"id":"c1cf52e2.54d3e","type":"ui_group","z":"","name":"demo2","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"32277ff9.96c6f","type":"ui_group","z":"","name":"Demo3","tab":"","order":3,"disp":true,"width":"12","collapse":false},{"id":"60362528.5cad5c","type":"ui_group","z":"","name":"demo1","tab":"","order":1,"disp":true,"width":"23","collapse":false},{"id":"7b717dfc.891824","type":"ui_group","z":"","name":"Operation","tab":"7ad91da6.df0f44","order":4,"disp":true,"width":"6","collapse":false},{"id":"419417c3.34a168","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"90aa11ef.4870b","type":"ui_group","z":0,"name":"flowtest","tab":"","order":1,"disp":true,"width":22,"collapse":false},{"id":"f67e608b.61653","type":"users_config","appPath":"/users","jwtCookieName":"nr.nodeUsers.jwt","jwtHttpsOnly":false},{"id":"ad3eba56.af0bc8","type":"ui_group","z":"","name":"PROJECTOR SCREEN INFO","tab":"","order":4,"disp":true,"width":"6"},{"id":"7fef476.cc5e8b8","type":"ui_tab","z":"","name":"Demo Tab Name","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5cbeaa8.f57fd8","type":"ui_group","z":"","name":"TEXT DEMO","tab":"7fef476.cc5e8b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"79c8bfd.f3d864","type":"function","z":"9be55ee5.41fef","name":"split string","func":"var sc =' '\nreturn { payload :msg.payload.split(sc)}\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"d56e3d61.15c61","type":"ui_button","z":"16f764e6.95fe6b","name":"","group":"69b64644.d52ae8","order":3,"width":"5","height":"2","passthru":false,"label":"Turn on","tooltip":"","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"num","topic":"LED","x":218,"y":1023,"wires":[["c2db44b9.daea38"]]},{"id":"dd408c6e.dc72a","type":"ui_gauge","z":"16f764e6.95fe6b","name":"Speed","group":"64e611c1.4f193","order":1,"width":0,"height":0,"gtype":"gage","title":"SPEED","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":563,"y":1187,"wires":[]},{"id":"c2db44b9.daea38","type":"ui_switch","z":"16f764e6.95fe6b","name":"","label":"Status","tooltip":"","group":"69b64644.d52ae8","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"light","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":476,"y":1028,"wires":[["eaa5b436.37c268","570e4293.ff5ddc"]]},{"id":"810068b9.bc0338","type":"ui_button","z":"16f764e6.95fe6b","name":"","group":"69b64644.d52ae8","order":4,"width":"5","height":"2","passthru":false,"label":"Turn off","tooltip":"","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"num","topic":"LED","x":210,"y":1077,"wires":[["c2db44b9.daea38"]]},{"id":"fb039ac.19ced68","type":"mosca in","z":"16f764e6.95fe6b","mqtt_port":"12798","mqtt_ws_port":8080,"name":"","username":"sawhteni","password":"TmDqQYPC4Kdg","dburl":"","x":247,"y":940,"wires":[["5eed5b7f.0d6964"]]},{"id":"5eed5b7f.0d6964","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":558,"y":908,"wires":[]},{"id":"eaa5b436.37c268","type":"mqtt out","z":"16f764e6.95fe6b","name":"","topic":"Running","qos":"","retain":"","broker":"288f4ab1.33eff6","x":766,"y":1073,"wires":[]},{"id":"cb9f6b01.1f6f38","type":"ui_slider","z":"16f764e6.95fe6b","name":"Desired speed","label":"Desired speed","tooltip":"","group":"64e611c1.4f193","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SPD","min":0,"max":"100","step":1,"x":220,"y":1140,"wires":[["747fd2e6.d6a51c","dd408c6e.dc72a"]]},{"id":"747fd2e6.d6a51c","type":"mqtt out","z":"16f764e6.95fe6b","name":"","topic":"SPD","qos":"","retain":"","broker":"288f4ab1.33eff6","x":551,"y":1112,"wires":[]},{"id":"d1675145.f77ce","type":"ui_template","z":"16f764e6.95fe6b","group":"db11fc67.918a4","name":"Clock Toolbar","order":4,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":118,"y":26,"wires":[[]]},{"id":"570e4293.ff5ddc","type":"ui_template","z":"16f764e6.95fe6b","group":"69b64644.d52ae8","name":"","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p> Current State</p>\n    <p ng-if=\"msg.payload==1\">\n        <font color='green'> \n        <b > ON </b>\n        </font>\n    </p>\n        <p ng-if=\"msg.payload==0\">\n        <font color='gray'> \n        <b > OFF </b>\n        </font>\n    </p>\n        \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":711,"y":1028,"wires":[[]]},{"id":"c3d74dae.781fa","type":"ui_template","z":"16f764e6.95fe6b","group":"db11fc67.918a4","name":"","order":4,"width":6,"height":2,"format":"   <div class=\"status\">\n<table  class=\"table_status\">\n  <tr><td><strong>Zone1: </strong></td><td class=\"circle\"><svg height=\"40\" width=\"40\">\n<circle cx=\"20\" cy=\"20\" r=\"20\"  style=\"stroke: none; fill: {{msg.payload?'green':'yellow'}}\"/>\n</svg></td>\n</tr>\n  </table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":627,"y":206,"wires":[[]]},{"id":"dfd74318.bdadd","type":"mqtt in","z":"16f764e6.95fe6b","name":"","topic":"Zone1","qos":"2","datatype":"auto","broker":"288f4ab1.33eff6","x":213,"y":202,"wires":[["16989b9d.8c59d4"]]},{"id":"921ac9c7.231dc8","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":626,"y":261,"wires":[]},{"id":"16989b9d.8c59d4","type":"function","z":"16f764e6.95fe6b","name":"ConvertToNum","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":216,"wires":[["c3d74dae.781fa","921ac9c7.231dc8"]]},{"id":"351cdcab.6b0994","type":"ui_template","z":"16f764e6.95fe6b","group":"db11fc67.918a4","name":"","order":4,"width":6,"height":2,"format":"   <div class=\"status\">\n<table  class=\"table_status\">\n  <tr><td><strong>Zone2: </strong></td><td class=\"circle\"><svg height=\"40\" width=\"40\">\n<circle cx=\"20\" cy=\"20\" r=\"20\"  style=\"stroke: none; fill: {{msg.payload?'green':'yellow'}}\"/>\n</svg></td>\n</tr>\n  </table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":629,"y":315,"wires":[[]]},{"id":"734271a3.2e567","type":"mqtt in","z":"16f764e6.95fe6b","name":"","topic":"Zone2","qos":"2","datatype":"auto","broker":"288f4ab1.33eff6","x":212,"y":304,"wires":[["4aec4b60.7bc7a4"]]},{"id":"964d11a0.90f22","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":614,"y":366,"wires":[]},{"id":"4aec4b60.7bc7a4","type":"function","z":"16f764e6.95fe6b","name":"ConvertToNum","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":321,"wires":[["351cdcab.6b0994","964d11a0.90f22"]]},{"id":"fc25a355.ee7f1","type":"ui_template","z":"16f764e6.95fe6b","group":"db11fc67.918a4","name":"","order":4,"width":6,"height":2,"format":"   <div class=\"status\">\n<table  class=\"table_status\">\n  <tr><td><strong>Zone3: </strong></td><td class=\"circle\"><svg height=\"40\" width=\"40\">\n<circle cx=\"20\" cy=\"20\" r=\"20\"  style=\"stroke: none; fill: {{msg.payload?'green':'yellow'}}\"/>\n</svg></td>\n</tr>\n  </table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":615,"y":443,"wires":[[]]},{"id":"74570707.36fee8","type":"mqtt in","z":"16f764e6.95fe6b","name":"","topic":"Zone3","qos":"2","datatype":"auto","broker":"288f4ab1.33eff6","x":205,"y":438,"wires":[["b3034562.9cc9d8"]]},{"id":"7673a5fc.8c176c","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":607,"y":500,"wires":[]},{"id":"b3034562.9cc9d8","type":"function","z":"16f764e6.95fe6b","name":"ConvertToNum","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":455,"wires":[["fc25a355.ee7f1","7673a5fc.8c176c"]]},{"id":"6022284c.dd1968","type":"ui_template","z":"16f764e6.95fe6b","group":"db11fc67.918a4","name":"","order":4,"width":6,"height":2,"format":"   <div class=\"status\">\n<table  class=\"table_status\">\n  <tr><td><strong>Zone4: </strong></td><td class=\"circle\"><svg height=\"40\" width=\"40\">\n<circle cx=\"20\" cy=\"20\" r=\"20\"  style=\"stroke: none; fill: {{msg.payload?'green':'yellow'}}\"/>\n</svg></td>\n</tr>\n  </table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":618,"y":594,"wires":[[]]},{"id":"5f3451b2.c328d","type":"mqtt in","z":"16f764e6.95fe6b","name":"","topic":"Zone4","qos":"2","datatype":"auto","broker":"288f4ab1.33eff6","x":215,"y":587,"wires":[["a1727e31.8ef77"]]},{"id":"e6de47b3.a96558","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":617,"y":649,"wires":[]},{"id":"a1727e31.8ef77","type":"function","z":"16f764e6.95fe6b","name":"ConvertToNum","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":604,"wires":[["6022284c.dd1968","e6de47b3.a96558"]]},{"id":"9d768d0c.b3edb","type":"ui_template","z":"16f764e6.95fe6b","group":"db11fc67.918a4","name":"","order":4,"width":6,"height":2,"format":"   <div class=\"status\">\n<table  class=\"table_status\">\n  <tr><td><strong>Zone5: </strong></td><td class=\"circle\"><svg height=\"40\" width=\"40\">\n<circle cx=\"20\" cy=\"20\" r=\"20\"  style=\"stroke: none; fill: {{msg.payload?'green':'yellow'}}\"/>\n</svg></td>\n</tr>\n  </table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":612,"y":710,"wires":[[]]},{"id":"41dd04c2.f7cd1c","type":"mqtt in","z":"16f764e6.95fe6b","name":"","topic":"Zone5","qos":"2","datatype":"auto","broker":"288f4ab1.33eff6","x":209,"y":703,"wires":[["572f3b49.825a74"]]},{"id":"b29e82dc.b82c2","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":611,"y":765,"wires":[]},{"id":"572f3b49.825a74","type":"function","z":"16f764e6.95fe6b","name":"ConvertToNum","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":720,"wires":[["9d768d0c.b3edb","b29e82dc.b82c2"]]},{"id":"3c2e9bf1.3c1694","type":"comment","z":"16f764e6.95fe6b","name":"Zone Check in","info":"","x":109,"y":129,"wires":[]},{"id":"336219a7.9f7d06","type":"comment","z":"16f764e6.95fe6b","name":"Control","info":"","x":99,"y":860,"wires":[]},{"id":"f6f77c34.77d98","type":"mqtt out","z":"16f764e6.95fe6b","name":"Rst1","topic":"Zone1","qos":"","retain":"","broker":"288f4ab1.33eff6","x":625,"y":1363,"wires":[]},{"id":"952ef3e7.89ddf","type":"ui_template","z":"16f764e6.95fe6b","group":"7b717dfc.891824","name":"red","order":2,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched rounded\"\n   style=\"background-color:#87A980;\n   border-radius: 10px 10px 10px 10px;\"\n    ng-click=\"send({payload: 0})\"> \n    RESET\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":234,"y":1436,"wires":[["f6f77c34.77d98","dd408bf8.215a58","63740e6.d0e14f","11eb2596.271b4a","ed23a3f6.12773","d3eb7207.39c1f"]]},{"id":"9fc1486c.648338","type":"comment","z":"16f764e6.95fe6b","name":"Reset Configure","info":"","x":114,"y":1380,"wires":[]},{"id":"dd408bf8.215a58","type":"mqtt out","z":"16f764e6.95fe6b","name":"Rst2","topic":"Zone2","qos":"","retain":"","broker":"288f4ab1.33eff6","x":610,"y":1431,"wires":[]},{"id":"63740e6.d0e14f","type":"mqtt out","z":"16f764e6.95fe6b","name":"Rst3","topic":"Zone3","qos":"","retain":"","broker":"288f4ab1.33eff6","x":612,"y":1510,"wires":[]},{"id":"11eb2596.271b4a","type":"mqtt out","z":"16f764e6.95fe6b","name":"Rst4","topic":"Zone4","qos":"","retain":"","broker":"288f4ab1.33eff6","x":613,"y":1578,"wires":[]},{"id":"ed23a3f6.12773","type":"mqtt out","z":"16f764e6.95fe6b","name":"Rst5","topic":"Zone5","qos":"","retain":"","broker":"288f4ab1.33eff6","x":612,"y":1633,"wires":[]},{"id":"be3d8970.9afc48","type":"remote-access","z":"16f764e6.95fe6b","confignode":"347b7a77.0ff486","name":"IoS","verbose":true,"x":180,"y":1600,"wires":[]},{"id":"5439d9a.508b128","type":"remote-notification","z":"16f764e6.95fe6b","confignode":"347b7a77.0ff486","name":"Notify","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"dudeldidudel","output":"2","x":155,"y":1544,"wires":[[]]},{"id":"5e34142f.72487c","type":"users_isloggedin","z":"16f764e6.95fe6b","name":"login","enableCustomHandler":true,"outputs":2,"x":343,"y":2051,"wires":[["44503e5d.e5c15"],["9d8600a0.a853b"]]},{"id":"d597f1a2.f4d3e","type":"http in","z":"16f764e6.95fe6b","name":"","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":179,"y":2055,"wires":[["5e34142f.72487c"]]},{"id":"632f8fd1.b52fe","type":"template","z":"16f764e6.95fe6b","name":"for admins only","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node users demo</title>\n        <style>\n            * {\n                color: #fff;\n            }\n            h1 {\n                font-size: 120px;\n                color: #fff;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body style=\"text-align: center; background: #010203;\">\n        <h1>WELCOME ADMIN !!!</h1>\n        <h2>User: {{payload.user.username}}</h2>\n        <h2>Scope: {{payload.user.scope}}</h2>\n    </body>\n</html>","x":732,"y":1916,"wires":[["1ac68359.e2864d"]]},{"id":"e331b735.cddcd8","type":"template","z":"16f764e6.95fe6b","name":"for allowed users only","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node users demo</title>\n        <style>\n            * {\n                color: #fff;\n            }\n            h1 {\n                font-size: 120px;\n                color: #fff;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body style=\"text-align: center; background: #010203;\">\n        <h1>LOGIN SUCCESS !!!</h1>\n        <h2>User: {{payload.user.username}}</h2>\n        <h2>Scope: {{payload.user.scope}}</h2>\n    </body>\n</html>","x":754,"y":2005,"wires":[["1ac68359.e2864d"]]},{"id":"44503e5d.e5c15","type":"switch","z":"16f764e6.95fe6b","name":"check user scope","property":"payload.user.scope","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":522,"y":1963,"wires":[["632f8fd1.b52fe"],["e331b735.cddcd8"]]},{"id":"9d8600a0.a853b","type":"template","z":"16f764e6.95fe6b","name":"custom login page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #00979C;\n  border: 1px solid #008d92;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #00979C;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #00b5bb;\n  color: #f3f5f6;\n  border-color: #00abb0;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n\n  <div class=\"login-wrapper\">\n    \n    <h1>Custom Users Login</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/demo';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>","x":526,"y":2146,"wires":[["e493fa7a.a6bc98"]]},{"id":"e493fa7a.a6bc98","type":"http response","z":"16f764e6.95fe6b","name":"","statusCode":"","headers":{},"x":748,"y":2092,"wires":[]},{"id":"81c2a7f2.2d0088","type":"comment","z":"16f764e6.95fe6b","name":"User unauthorized, show login page","info":"","x":206,"y":1920,"wires":[]},{"id":"e6872d7.63d32d","type":"comment","z":"16f764e6.95fe6b","name":"User authorized, allow through","info":"","x":494,"y":1865,"wires":[]},{"id":"1ac68359.e2864d","type":"http response","z":"16f764e6.95fe6b","name":"Redirect","statusCode":"303","headers":{"location":"http://localhost:1880/ui/#!/0"},"x":995,"y":1960,"wires":[]},{"id":"4405c9fc.964818","type":"http in","z":"16f764e6.95fe6b","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":224,"y":2403,"wires":[["10d0dbee.0cc1f4"]]},{"id":"10d0dbee.0cc1f4","type":"template","z":"16f764e6.95fe6b","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":410,"y":2416,"wires":[["14d9d281.04fc1d"]]},{"id":"14d9d281.04fc1d","type":"http response","z":"16f764e6.95fe6b","name":"","statusCode":"","headers":{},"x":570,"y":2399,"wires":[]},{"id":"c184b370.1353f","type":"ui_template","z":"16f764e6.95fe6b","group":"7b717dfc.891824","name":"","order":4,"width":"0","height":"0","format":"<strong>Connected</strong>\n<br><svg height=\"40\" width=\"40\">\n<circle cx=\"20\" cy=\"20\" r=\"20\"  style=\"stroke: none; fill: {{msg.payload?'red':'#3FADB5'}}\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":671,"y":74,"wires":[[]]},{"id":"4771929a.ad874c","type":"debug","z":"16f764e6.95fe6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":129,"wires":[]},{"id":"5bf3a7ba.b19698","type":"function","z":"16f764e6.95fe6b","name":"ConvertToNum","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":84,"wires":[["c184b370.1353f","4771929a.ad874c"]]},{"id":"f6faebd4.faa658","type":"mqtt in","z":"16f764e6.95fe6b","name":"","topic":"Connected","qos":"2","datatype":"auto","broker":"288f4ab1.33eff6","x":251,"y":73,"wires":[["5bf3a7ba.b19698"]]},{"id":"d3eb7207.39c1f","type":"mqtt out","z":"16f764e6.95fe6b","name":"Rst5","topic":"Connected","qos":"","retain":"","broker":"288f4ab1.33eff6","x":617,"y":1715,"wires":[]},{"id":"a7b65562.daabd8","type":"ui_button","z":"16f764e6.95fe6b","name":"","group":"69b64644.d52ae8","order":4,"width":0,"height":0,"passthru":false,"label":"Turn Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"right","x":219,"y":1246,"wires":[["3e8e3fd8.85af8"]]},{"id":"3e8e3fd8.85af8","type":"mqtt out","z":"16f764e6.95fe6b","name":"","topic":"right","qos":"","retain":"","broker":"288f4ab1.33eff6","x":496,"y":1253,"wires":[]}]
