flows.json
[{"id":"e62dbe1a.c6cbc","type":"tab","label":"Template UI Node","disabled":false,"info":""},{"id":"b5973f31.528c9","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[[]]},{"id":"3097eb48.966204","type":"debug","z":"e62dbe1a.c6cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":200,"wires":[]},{"id":"cf013cde.3bfde","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"testopic","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[[]]},{"id":"44375e38.07331","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["efbf09c2.8b8fa8"]]},{"id":"e40d9ede.9365d","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"testopic","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["efbf09c2.8b8fa8"]]},{"id":"c7785cce.be1fa","type":"debug","z":"e62dbe1a.c6cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":100,"wires":[]},{"id":"85b40b4d.fdfd98","type":"ui_template","z":"e62dbe1a.c6cbc","group":"","name":"","order":5,"width":"5","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":300,"y":80,"wires":[["c7785cce.be1fa"]]},{"id":"cbbf8ada.58d978","type":"comment","z":"e62dbe1a.c6cbc","name":"test3","info":"","x":434,"y":321,"wires":[]},{"id":"c53d2331.7415d","type":"comment","z":"e62dbe1a.c6cbc","name":"test4","info":"","x":375,"y":722,"wires":[]},{"id":"efbf09c2.8b8fa8","type":"ui_template","z":"e62dbe1a.c6cbc","group":"","name":"","order":5,"width":0,"height":0,"format":"<div>{{msg.payload}}</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":300,"y":140,"wires":[["c7785cce.be1fa"]]},{"id":"55453300.38d5ac","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["cf57e451.5363d8"]]},{"id":"1a8e3f41.ce23e1","type":"template","z":"e62dbe1a.c6cbc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>Sensor</th><th>Battery</th><th>Temperature</th></tr>\n     <tr><td>{{payload.0.sensor}}</td><td>{{payload.0.battery}}</td><td>{{payload.0.temp}}</td></tr>\n<tr><td>{{payload.1.sensor}}</td><td>{{payload.1.battery}}</td><td>{{payload.1.temp}}</td></tr>\n</table>","output":"str","x":360,"y":460,"wires":[["2e4d6ec3.de3bc2","e0442c37.39381"]]},{"id":"2e4d6ec3.de3bc2","type":"ui_template","z":"e62dbe1a.c6cbc","group":"","name":"","order":5,"width":"4","height":"4","format":"<style>\n.main\n{\n    height:600px;\n    width:200px;\n    background:lightblue;\n        \n}\n</style>\n\n<div class=\"main\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":460,"wires":[[]]},{"id":"d359c1cf.61ba8","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["1fc1cc62.846594"]]},{"id":"cf57e451.5363d8","type":"function","z":"e62dbe1a.c6cbc","name":"","func":"msg.payload=[{sensor:\"sensor1\",battery:12.5,temp:21},{sensor:\"sensor2\",battery:13.5,temp:24}];\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":480,"wires":[["1a8e3f41.ce23e1","e0442c37.39381"]]},{"id":"e0442c37.39381","type":"debug","z":"e62dbe1a.c6cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":560,"wires":[]},{"id":"1fc1cc62.846594","type":"function","z":"e62dbe1a.c6cbc","name":"","func":"msg.payload=[{sensor:\"sensor1\",battery:12.5,temp:21},{sensor:\"sensor2\",battery:13.5,temp:24}];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[[]]},{"id":"c44a1a87.214638","type":"ui_template","z":"e62dbe1a.c6cbc","group":"7c4659ff.a843e8","name":"Clock Toolbar","order":4,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":608,"y":336,"wires":[[]]},{"id":"90f6ee4b.5af7b","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"Zone","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":278,"y":802,"wires":[[]]},{"id":"ffb71fd9.93a1f","type":"inject","z":"e62dbe1a.c6cbc","name":"","topic":"Zone","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":266,"y":860,"wires":[[]]},{"id":"7c4659ff.a843e8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false}]
