flows.json
[{"id":"1af7d367.d0f50d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1fd86c36.bae6c4","type":"aedes broker","z":"1af7d367.d0f50d","name":"","mqtt_port":"1881","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":130,"y":40,"wires":[[]]},{"id":"7953c95.7043138","type":"mqtt out","z":"1af7d367.d0f50d","name":"","topic":"esp\\test2","qos":"","retain":"","broker":"6274f8cc.39b558","x":290,"y":180,"wires":[]},{"id":"be8cb282.034e9","type":"inject","z":"1af7d367.d0f50d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":110,"y":200,"wires":[["7953c95.7043138","fc634c74.af5cc"]]},{"id":"e8cf5991.b13f28","type":"mqtt in","z":"1af7d367.d0f50d","name":"","topic":"OTAStatus","qos":"2","datatype":"auto","broker":"6274f8cc.39b558","x":320,"y":100,"wires":[["cd854e88.023fe"]]},{"id":"fc634c74.af5cc","type":"mqtt out","z":"1af7d367.d0f50d","name":"","topic":"OTAStatus","qos":"","retain":"","broker":"6274f8cc.39b558","x":270,"y":260,"wires":[]},{"id":"cc2f0ebf.28d88","type":"file","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room_status.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":850,"y":680,"wires":[["6c679f55.e1db3"]]},{"id":"269b02ae.1105ce","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room_status.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":440,"wires":[["782e78a3.ee3b88"]]},{"id":"782e78a3.ee3b88","type":"json","z":"1af7d367.d0f50d","name":"","property":"payload","action":"","pretty":true,"x":510,"y":500,"wires":[["8b4121d9.a7ebc"]]},{"id":"8b4121d9.a7ebc","type":"function","z":"1af7d367.d0f50d","name":"","func":"var jsonRequest=flow.get('post_msg') || {};\n//var jsonObj = JSON.parse(jsonRequest);\nvar jsonObj = jsonRequest;\n//node.warn(jsonRequest);\n\nvar oldJSON= msg.payload;\nvar newJSON = oldJSON;\n\nfor (var key in jsonObj){\n          //  node.error(\"for ok: \"+key+\" \"+JSON.stringify(jsonObj[key])+\"\"+JSON.stringify(newJSON[key]));\n\n    if(newJSON[key]){\n        for (var key2 in jsonObj[key]){\n                newJSON[key][key2] = jsonObj[key][key2];\n        }\n    }\n\n}\n\n//newJSON.room_1.light1 =\"off\" ;\nmsg.payload=newJSON ;\nvar msg_keys = Object.keys(jsonObj);\nmsg.room_no = msg_keys.toString();\nmsg.inputs =jsonRequest;\n//msg.flags= oldJSON.flags;\nreturn  msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["cc2f0ebf.28d88","5e06bc5f.75c724","40c3f28c.3ab00c","72efab0e.ca1344","48b9d101.0e716","2066e7ce.0c5258"]]},{"id":"cd854e88.023fe","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"38aefcde.377f84","type":"function","z":"1af7d367.d0f50d","name":"","func":"//var jsonbody = JSON.stringify({\"room_1\":{\"light1\":\"on\"}} );\nvar jsonbody = msg.payload;\nvar newJsonbody= {};\n//var room =  Object.keys(jsonbody);\n//node.log(room.toString());\n//var jsonRequest=context.get('post_msg') || {};\nfor(var i in jsonbody){\n    if( typeof(jsonbody[i][\"fan_state\"] ) === 'string'){\n   jsonbody[i][\"fan_state\"] = parseInt(jsonbody[i][\"fan_state\"]);\n    }\n    //}\n}\nflow.set('post_msg',jsonbody); // to store a variable\nmsg.payload= jsonbody;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":500,"wires":[["269b02ae.1105ce","61d4e904.8c0f88"]]},{"id":"61d4e904.8c0f88","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":540,"wires":[]},{"id":"8b4b1ff2.10a21","type":"inject","z":"1af7d367.d0f50d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":400,"wires":[["38aefcde.377f84"]]},{"id":"24c50d75.210b12","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/home","method":"post","upload":false,"swaggerDoc":"","x":70,"y":560,"wires":[["38aefcde.377f84"]]},{"id":"9e2842c5.015c6","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":140,"y":820,"wires":[["194d3f96.be6cc","728810.f02b37f"]]},{"id":"e1d99c42.c371f","type":"http response","z":"1af7d367.d0f50d","name":"","statusCode":"200","headers":{},"x":580,"y":860,"wires":[]},{"id":"194d3f96.be6cc","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room_status.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":900,"wires":[["81c21089.32ebe"]]},{"id":"6c679f55.e1db3","type":"function","z":"1af7d367.d0f50d","name":"Add status ACK in payload","func":"\nvar oldJSON= msg.payload;\nvar newJSON = oldJSON;\n//var jsonbody = JSON.stringify({\"status\":\"ACK\"} );\nnewJSON[\"response_status\"] =\"ACK\";\nmsg.payload=newJSON ;\nreturn  msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":760,"wires":[["e1d99c42.c371f","f2ca49b4.f04748"]]},{"id":"f2ca49b4.f04748","type":"debug","z":"1af7d367.d0f50d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":960,"wires":[]},{"id":"e20c11b9.8a68f","type":"http in","z":"1af7d367.d0f50d","name":"House map","url":"/house","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1200,"wires":[["f3d89e9.d68726"]]},{"id":"f3d89e9.d68726","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\house.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1160,"wires":[["4836836.1437c7c","554095ad.bf1bcc"]]},{"id":"1e5917d5.617cb8","type":"http response","z":"1af7d367.d0f50d","name":"","statusCode":"200","headers":{},"x":800,"y":1300,"wires":[]},{"id":"4836836.1437c7c","type":"change","z":"1af7d367.d0f50d","name":"Content-Type","rules":[{"t":"set","p":"Content-Type","pt":"msg","to":"text/html,image/png,multipart/form-data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1300,"wires":[["1e5917d5.617cb8"]]},{"id":"a7acec13.1d24a","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/room1.html","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1260,"wires":[["9d4b4453.64f698"]]},{"id":"9d4b4453.64f698","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room1.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1240,"wires":[["4836836.1437c7c"]]},{"id":"42c7d0f0.fe03f","type":"change","z":"1af7d367.d0f50d","name":"Content-Type","rules":[{"t":"set","p":"Cache-Control","pt":"msg","to":"no-cache","tot":"str"},{"t":"set","p":"Pragma","pt":"msg","to":"no-cache","tot":"str"},{"t":"set","p":"Content-Transfer-Encoding","pt":"msg","to":"binary","tot":"str"},{"t":"set","p":"Content-Type","pt":"msg","to":"application/octet-stream","tot":"str"},{"t":"set","p":"Content-Disposition","pt":"msg","to":"attachment;filename=\" +a.ino.esp32.bin","tot":"str"},{"t":"set","p":"Content-Length","pt":"msg","to":" \"\" + msg.payload.length","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1500,"wires":[["5316d919.e12df8"]]},{"id":"5316d919.e12df8","type":"http response","z":"1af7d367.d0f50d","name":"","statusCode":"200","headers":{},"x":880,"y":1440,"wires":[]},{"id":"26aa15f3.d3ac5a","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/room2.html","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1320,"wires":[["7a96eb03.5d0bf4"]]},{"id":"7a96eb03.5d0bf4","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room2.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1300,"wires":[["4836836.1437c7c"]]},{"id":"f0225f0c.a6c54","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/room3.html","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1380,"wires":[["c274b632.f1b4c8"]]},{"id":"c274b632.f1b4c8","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room3.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1380,"wires":[["4836836.1437c7c"]]},{"id":"70ed4886.0683f8","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/room4.html","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1420,"wires":[["1d3b5b60.28be15"]]},{"id":"1d3b5b60.28be15","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\room4.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1440,"wires":[["4836836.1437c7c"]]},{"id":"154be582.e48c0a","type":"change","z":"1af7d367.d0f50d","name":"Content-Type","rules":[{"t":"set","p":"Content-Type","pt":"msg","to":"text/html,application/json,multipart/form-data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":960,"wires":[["e1d99c42.c371f","f2ca49b4.f04748"]]},{"id":"d187360c.c2b178","type":"http in","z":"1af7d367.d0f50d","name":"","url":"/ota_file","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1640,"wires":[["f38f069e.d92678"]]},{"id":"f38f069e.d92678","type":"file in","z":"1af7d367.d0f50d","name":"","filename":"D:\\developement\\Python3\\a.ino.esp32.bin","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":1640,"wires":[["2b359914.c73a66"]]},{"id":"2b359914.c73a66","type":"function","z":"1af7d367.d0f50d","name":"","func":"var msg_out={};\nvar file= msg.filename;\nmsg_out.headers = {\n\"Cache-Control\": \"no-cache\",\n\"Pragma\": \"no-cache\",\n\"Content-Transfer-Encoding\": \"binary\",\n\"Content-Type\": \"application/octet-stream\",\n\"Content-Disposition\": \"attachment;filename=\" +file.split(\"Python3\\\\\")[1],\n\"Content-Length\": \"\" + msg.payload.length\n};\nmsg_out.statusCode = 200;\nmsg_out.payload = Buffer.from(msg.payload);\nreturn msg_out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1640,"wires":[["5316d919.e12df8","afe242a2.50fbe"]]},{"id":"afe242a2.50fbe","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1760,"wires":[]},{"id":"b843a359.a8fbd","type":"mqtt out","z":"1af7d367.d0f50d","name":"","topic":"espStatus","qos":"0","retain":"","broker":"6274f8cc.39b558","x":1280,"y":460,"wires":[]},{"id":"1f387bf6.167d14","type":"mqtt in","z":"1af7d367.d0f50d","name":"","topic":"espStatus","qos":"0","datatype":"auto","broker":"6274f8cc.39b558","x":510,"y":220,"wires":[["cd854e88.023fe"]]},{"id":"40c3f28c.3ab00c","type":"switch","z":"1af7d367.d0f50d","name":"Room1","property":"room_no","propertyType":"msg","rules":[{"t":"eq","v":"room_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":340,"wires":[["ca8a4873.085c38","cdf3a7e2.fd7c88"]]},{"id":"ca8a4873.085c38","type":"debug","z":"1af7d367.d0f50d","name":"room1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"room_no","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":320,"wires":[]},{"id":"72efab0e.ca1344","type":"switch","z":"1af7d367.d0f50d","name":"Room2","property":"room_no","propertyType":"msg","rules":[{"t":"eq","v":"room_2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":380,"wires":[["7fab1b68.74ef84","cdf3a7e2.fd7c88"]]},{"id":"48b9d101.0e716","type":"switch","z":"1af7d367.d0f50d","name":"Room3","property":"room_no","propertyType":"msg","rules":[{"t":"eq","v":"room_3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":420,"wires":[["2175bb2e.f5d1d4","cdf3a7e2.fd7c88"]]},{"id":"7fab1b68.74ef84","type":"debug","z":"1af7d367.d0f50d","name":"room2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"room_no","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":360,"wires":[]},{"id":"2175bb2e.f5d1d4","type":"debug","z":"1af7d367.d0f50d","name":"room3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"room_no","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":420,"wires":[]},{"id":"2066e7ce.0c5258","type":"switch","z":"1af7d367.d0f50d","name":"Room4","property":"room_no","propertyType":"msg","rules":[{"t":"eq","v":"room_4","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":460,"wires":[["cdf3a7e2.fd7c88"]]},{"id":"5e06bc5f.75c724","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"inputs","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":600,"wires":[]},{"id":"cdf3a7e2.fd7c88","type":"function","z":"1af7d367.d0f50d","name":"","func":"var room_states= msg.payload;\nvar input_room = msg.room_no;\nvar newJSON ={};\nvar internet_status=flow.get('internet') || false;\n\nnode.error(internet_status);\nfor (var key in room_states){\n            //node.error(\"for ok: \"+key+\",[]\"+input_room+\",[]\"+JSON.stringify(room_states[key]) );\n\n    if(key  == input_room){\n        var str = \"PiServer/\";\n        var ChipID= \"\";\n        //{\"room_1\":\n        //{\"fan\":\"on\",\n        //\"fan_state\":\"1\",\n        //\"light1\":\"off\",\n        //\"light2\":\"on\",\n        //\"light3\":\"off\",\n        //\"light4\":\"on\"}}\n        if(input_room == \"room_1\"){\n            ChipID = \"97244/Status\";\n        }\n        else if(input_room == \"room_2\"){\n            ChipID = \"97244/Status\";\n        }\n        else{\n            ChipID = \"00/Status\";\n        }\n        str= str+ChipID;\n        var obj ={};\n        //if(internet_status=='true'){\n        obj[\"internet\"] =true;\n        //}\n        //else{\n        //obj[\"internet\"] =false;\n        //}\n        obj[\"inputs\"];\n        \n//        newJSON[str] = room_states[key]; \nvar obj2={};\nvar obj3={};\n        for(var i in room_states[key]){\n            var elem = i.toString();\n           \n            if(room_states[key][i] ==\"on\" && elem != 'fan'){\n                obj3[elem.slice(-1)+\"\"] = 1;\n            }\n            if(room_states[key][i] ==\"off\" && elem != 'fan'){\n                //obj[room_states[key][i]] = 0;\n                obj3[elem.slice(-1)+\"\"] = 0;\n            }\n            \n            obj2[\"light\"] =obj3;\n            if(elem =='fan_state'){\n            obj2[\"fan\"]= room_states[key][i];\n            }\n            obj[\"inputs\"]= obj2;\n            \n        }\n        newJSON[str] = obj;//room_states[key];\n        break;\n    }\n\n}\n/* PiServer/ChipID/Status: //97244\n  {\n  \"internet\": true,\n  \"inputs\": {\n    \"light\": \n    {\n       \"1\": 0,\n       \"2\": 0,\n       \"3\": 1,\n       \"4\": 0 \n    },\n    \"fan\": 1\n            }\n   }*/\n\n//newJSON.room_1.light1 =\"off\" ;\nmsg.payload=newJSON ;\n\nreturn  msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":520,"wires":[["b843a359.a8fbd"]]},{"id":"f3217bb3.4bd918","type":"debug","z":"1af7d367.d0f50d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"internet","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":760,"wires":[]},{"id":"728810.f02b37f","type":"function","z":"1af7d367.d0f50d","name":"","func":"var hdrs =msg.req.headers;\nvar referer =hdrs.referer;\nvar webview =hdrs[\"x-requested-with\"];\nmsg.internet= true;    \nmsg.hdrs= hdrs; \nmsg.referer= referer; \n\nif(referer === undefined || referer === \"null\"){\nmsg.internet= false;    \n}\nflow.set('internet',msg.internet); // to store a variable\n\n//x-requested-with: \"edu.mit.appinventor.aicompanion3\"\n\n if(webview === undefined || webview === \"null\"){\n    msg.webview= false;    \n  \n}\nelse if(webview.toString().startsWith(\"edu.mit\") ){\n    msg.webview= true;\n}\nflow.set('webview',msg.webview); // to store a variable\n\n\nreturn  msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":760,"wires":[["f3217bb3.4bd918","4013b932.ab31c8","20e23892.095768"]]},{"id":"897bab95.ecc7b8","type":"inject","z":"1af7d367.d0f50d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":640,"wires":[["66f46534.bbe48c"]]},{"id":"66f46534.bbe48c","type":"ui ping","z":"1af7d367.d0f50d","name":"","host":"8.8.8.8","timeout":"2","requests":"1","x":250,"y":640,"wires":[["b5b295c8.07be88"]]},{"id":"b5b295c8.07be88","type":"function","z":"1af7d367.d0f50d","name":"","func":"var internet = msg.payload;\nflow.set('internet',internet); // to store a variable\nmsg.internet = internet;\n\nreturn  msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":640,"wires":[["f3217bb3.4bd918"]]},{"id":"4013b932.ab31c8","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"hdrs.host","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":800,"wires":[]},{"id":"20e23892.095768","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"webview","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":840,"wires":[]},{"id":"81c21089.32ebe","type":"function","z":"1af7d367.d0f50d","name":"","func":"var webview= flow.get('webview') ;\n//var newPayload =JSON.parse(msg.payload);\n//node.warn(JSON.stringify(newPayload));\n// if(webview){\n//newPayload[\"webView\"] =webview;\nnode.warn(\"12340 \"+webview);\nmsg.headers = {};\nmsg.headers['X-webview'] = webview;\n\nreturn  msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1000,"wires":[["154be582.e48c0a","c3bf8567.dd6bc8"]]},{"id":"c3bf8567.dd6bc8","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers.X-webview","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":1040,"wires":[]},{"id":"554095ad.bf1bcc","type":"debug","z":"1af7d367.d0f50d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1140,"wires":[]},{"id":"6274f8cc.39b558","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1881","clientid":"00node","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]